In [1]:
import tweepy 
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import csv
import string

In [2]:
data = pd.read_csv('Dataset\Random.csv', encoding='latin-1', usecols=['SentimentText'])

In [3]:
data=data.astype(str)

In [4]:
df=data

In [5]:
df=data.head(2020)

In [6]:
df['Writer'] = 'Random'

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
df.columns=['Tweets','Writer']

In [8]:
df

                                                 Tweets  Writer
0                          is so sad for my APL frie...  Random
1                        I missed the New Moon trail...  Random
2                               omg its already 7:30 :O  Random
3               .. Omgaga. Im sooo  im gunna CRy. I'...  Random
4              i think mi bf is cheating on me!!!   ...  Random
...                                                 ...     ...
2015   For a minute there I was all happy thinking i...  Random
2016   For the first time ever, my iPhone crashed iT...  Random
2017  =- for trish: sa right side ng reply ko, may s...  Random
2018            Forgot about them science exams tbh (N)  Random
2019                               Found her JRM icons!  Random

[2020 rows x 2 columns]

In [9]:
# Create a function to clean the tweets
import re
def cleanTxt(text):
 text = re.sub('@[A-Za-z0–9]+', '', text) #Removing @mentions
 text = re.sub('#', '', text) # Removing '#' hash tag
 
 text = re.sub('RT[\s]+', '', text) # Removing RT
 text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)
 text = re.sub('https?:\/\/\S+', '', text) # Removing hyperlink
 text=text.lower() #converting to lowercase
 text = re.sub(':', '', text) # Removing  
 return text

In [10]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['Tweets'] = df['Tweets'].apply(lambda x: remove_punct(x))
df.head(10)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                              Tweets  Writer
0                        is so sad for my APL friend  Random
1                      I missed the New Moon trailer  Random
2                                 omg its already  O  Random
3             Omgaga Im sooo  im gunna CRy Ive be...  Random
4           i think mi bf is cheating on me       TT  Random
5                   or i just worry too much          Random
6                   Juuuuuuuuuuuuuuuuussssst Chillin  Random
7         Sunny Again        Work Tomorrow       ...  Random
8        handed in my uniform today  i miss you a...  Random
9                  hmmmm i wonder how she my number   Random

In [12]:
df['Tweets'] = df['Tweets'].apply(cleanTxt)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df

                                                 Tweets  Writer
0                           is so sad for my apl friend  Random
1                         i missed the new moon trailer  Random
2                                    omg its already  o  Random
3                omgaga im sooo  im gunna cry ive be...  Random
4              i think mi bf is cheating on me       tt  Random
...                                                 ...     ...
2015   for a minute there i was all happy thinking i...  Random
2016   for the first time ever my iphone crashed itu...  Random
2017   for trish sa right side ng reply ko may star ...  Random
2018              forgot about them science exams tbh n  Random
2019                                found her jrm icons  Random

[2020 rows x 2 columns]

In [14]:
def remove_whitespace(text): 
    return  " ".join(text.split())

In [15]:
df['Tweets'] = df['Tweets'].apply(remove_whitespace)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

In [17]:
df['Tweets'] = df['Tweets'].apply(remove_emojis)

C:\Users\Alee\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
# Show the new dataframe with columns 'Subjectivity' & 'Polarity'
df

                                                 Tweets  Writer
0                           is so sad for my apl friend  Random
1                         i missed the new moon trailer  Random
2                                     omg its already o  Random
3     omgaga im sooo im gunna cry ive been at this d...  Random
4                    i think mi bf is cheating on me tt  Random
...                                                 ...     ...
2015  for a minute there i was all happy thinking it...  Random
2016  for the first time ever my iphone crashed itun...  Random
2017  for trish sa right side ng reply ko may star a...  Random
2018              forgot about them science exams tbh n  Random
2019                                found her jrm icons  Random

[2020 rows x 2 columns]

In [19]:
df1 = pd.read_pickle("Dataset/Tweets.pkl")

In [20]:
dataframe = pd.concat([df1, df])

In [21]:
dataframe

                                                 Tweets       Writer
0     i’m proud to endorse this diverse and hopeful ...  BarackObama
1     welcome home astrobehnken and astrodoug we lau...  BarackObama
2     this pandemic is far from over––and our medica...  BarackObama
3     john believed that in all of us there exists t...  BarackObama
4     john spent his entire life fighting for justic...  BarackObama
...                                                 ...          ...
2015  for a minute there i was all happy thinking it...       Random
2016  for the first time ever my iphone crashed itun...       Random
2017  for trish sa right side ng reply ko may star a...       Random
2018              forgot about them science exams tbh n       Random
2019                                found her jrm icons       Random

[12109 rows x 2 columns]

In [22]:
dataframe.to_pickle("Dataset/Tweets.pkl")

In [23]:
dataframe.to_csv("Dataset/Tweets.csv")

In [24]:

df = pd.read_csv('Dataset\Tweets.csv', encoding='latin-1')

In [25]:
df = df.astype(str)

In [26]:
df["Tweets"] = df["Tweets"].str.lower()
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud to endorse this diverse and hopefu...  BarackObama
1          1  welcome home astrobehnken and astrodoug we lau...  BarackObama
2          2  this pandemic is far from overââand our me...  BarackObama
3          3  john believed that in all of us there exists t...  BarackObama
4          4  john spent his entire life fighting for justic...  BarackObama

In [27]:

PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["Tweets"] = df["Tweets"].apply(lambda text: remove_punctuation(text))
df

,Unnamed: 0,Tweets,Writer
0,0,iâm proud to endorse this diverse and hopefu...,BarackObama
1,1,welcome home astrobehnken and astrodoug we lau...,BarackObama
2,2,this pandemic is far from overââand our me...,BarackObama
3,3,john believed that in all of us there exists t...,BarackObama
4,4,john spent his entire life fighting for justic...,BarackObama
...,...,...,...
12104,2015,for a minute there i was all happy thinking it...,Random
12105,2016,for the first time ever my iphone crashed itun...,Random
12106,2017,for trish sa right side ng reply ko may star a...,Random
12107,2018,forgot about them science exams tbh n,Random
12108,2019,found her jrm icons,Random

In [28]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alee\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [29]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["Tweets"] = df["Tweets"].apply(lambda text: remove_stopwords(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endorse diverse hopeful collection...  BarackObama
1          1  welcome home astrobehnken astrodoug launched c...  BarackObama
2          2  pandemic far overââand medical professiona...  BarackObama
3          3  john believed us exists capacity great courage...  BarackObama
4          4  john spent entire life fighting justice equali...  BarackObama

In [30]:
from collections import Counter
cnt = Counter()
for text in df["Tweets"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('get', 752),
 ('people', 729),
 ('today', 714),
 ('new', 544),
 ('one', 517),
 ('us', 467),
 ('time', 454),
 ('nhs', 430),
 ('country', 429),
 ('make', 414)]

In [31]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    """custom function to remove the frequent words"""
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["Tweets"] = df["Tweets"].apply(lambda text: remove_freqwords(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endorse diverse hopeful collection...  BarackObama
1          1  welcome home astrobehnken astrodoug launched c...  BarackObama
2          2  pandemic far overââand medical professiona...  BarackObama
3          3  john believed exists capacity great courage lo...  BarackObama
4          4  john spent entire life fighting justice equali...  BarackObama

In [32]:
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["Tweets"] = df["Tweets"].apply(lambda text: remove_rarewords(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endorse diverse hopeful collection...  BarackObama
1          1  welcome home astrobehnken astrodoug launched c...  BarackObama
2          2  pandemic far overââand medical professiona...  BarackObama
3          3  john believed exists capacity great courage lo...  BarackObama
4          4  john spent entire life fighting justice equali...  BarackObama

In [33]:

# Drop the two columns 
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["Tweets"] = df["Tweets"].apply(lambda text: stem_words(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endors divers hope collect thought...  BarackObama
1          1  welcom home astrobehnken astrodoug launch comm...  BarackObama
2          2  pandem far overââand medic profession cont...  BarackObama
3          3  john believ exist capac great courag long what...  BarackObama
4          4  john spent entir life fight justic equalityâ...  BarackObama

In [34]:
from nltk.stem.snowball import SnowballStemmer
SnowballStemmer.languages

('arabic',
 'danish',
 'dutch',
 'english',
 'finnish',
 'french',
 'german',
 'hungarian',
 'italian',
 'norwegian',
 'porter',
 'portuguese',
 'romanian',
 'russian',
 'spanish',
 'swedish')

In [35]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["Tweets"] = df["Tweets"].apply(lambda text: lemmatize_words(text))
df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alee\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endors diver hope collect thought ...  BarackObama
1          1  welcom home astrobehnken astrodoug launch comm...  BarackObama
2          2  pandem far overââand medic profession cont...  BarackObama
3          3  john believ exist capac great courag long what...  BarackObama
4          4  john spent entir life fight justic equalityâ...  BarackObama

In [36]:
import nltk
nltk.download('averaged_perceptron_tagger')
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

df["Tweets"] = df["Tweets"].apply(lambda text: lemmatize_words(text))
df.head()

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Alee\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endors diver hope collect thought ...  BarackObama
1          1  welcom home astrobehnken astrodoug launch comm...  BarackObama
2          2  pandem far overââand medic profession cont...  BarackObama
3          3  john believ exist capac great courag long what...  BarackObama
4          4  john spend entir life fight justic equalityâ...  BarackObama

In [37]:
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)
df["Tweets"] = df["Tweets"].apply(lambda text: remove_urls(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endors diver hope collect thought ...  BarackObama
1          1  welcom home astrobehnken astrodoug launch comm...  BarackObama
2          2  pandem far overââand medic profession cont...  BarackObama
3          3  john believ exist capac great courag long what...  BarackObama
4          4  john spend entir life fight justic equalityâ...  BarackObama

In [38]:
from bs4 import BeautifulSoup

def remove_html(text):
    return BeautifulSoup(text, "lxml").text
df["Tweets"] = df["Tweets"].apply(lambda text: remove_html(text))
df.head()

  Unnamed: 0                                             Tweets       Writer
0          0  iâm proud endors diver hope collect thought ...  BarackObama
1          1  welcom home astrobehnken astrodoug launch comm...  BarackObama
2          2  pandem far overââand medic profession cont...  BarackObama
3          3  john believ exist capac great courag long what...  BarackObama
4          4  john spend entir life fight justic equalityâ...  BarackObama

In [39]:
df.to_csv('Dataset/CleanedTweets.csv')

In [40]:
df.to_pickle('Dataset/CleanedTweets.pkl')