In [7]:
import tweepy 
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import re 
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import csv
import string

In [8]:
consumerKey = "L7o3Yf6HD1o55Q9qcJuuoYcuC"
consumerSecret = "s3kZeTFtd6DO5Jvkw6MkFfOwye38TqnksNEEk8uakZujVNFC2D"
accessToken = "3235982888-D8VdbzDEUmtLaQvBjMazprLLOJpr0U6I3ZKhGwl"
accessTokenSecret = "RvXhR9hLRS0C9dyHEu2VvMJdRG6qIavATJRSxZP1Hpm8x"

In [9]:
# Create the authentication object
authenticate = tweepy.OAuthHandler(consumerKey, consumerSecret)

In [10]:
# Set the access token and access token secret
authenticate.set_access_token(accessToken, accessTokenSecret)

In [11]:
# Creating the API object while passing in auth information
api = tweepy.API(authenticate, wait_on_rate_limit = True)

In [12]:
r0 = api.user_timeline("BillGates") # gives 20 latest tweets
bg=r0
idlast = r0[-1].id # the last id of these 20
for i in range(100):
    r1 = api.user_timeline("BillGates", max_id = idlast) #
    bg+=r1
    idlast = r1[-1].id # the last id of these 20

    
r2 = api.user_timeline("BarackObama") # gives 20 latest tweets
bo=r2
idlast = r2[-1].id # the last id of these 20
for i in range(100):
    r3 = api.user_timeline("BarackObama", max_id = idlast) #
    bo+=r3
    idlast = r3[-1].id # the last id of these 20

    
    
r4 = api.user_timeline("HillaryClinton") # gives 20 latest tweets
hc=r4
idlast = r4[-1].id # the last id of these 20
for i in range(100):
    r5 = api.user_timeline("HillaryClinton", max_id = idlast) #
    hc+=r5
    idlast = r5[-1].id # the last id of these 20

    

    
r6 = api.user_timeline("BorisJohnson") # gives 20 latest tweets
bj=r6
idlast = r6[-1].id # the last id of these 20
for i in range(100):
    r7 = api.user_timeline("BorisJohnson", max_id = idlast) #
    bj+=r7
    idlast = r7[-1].id # the last id of these 20

    
    

r8 = api.user_timeline("jeremycorbyn") # gives 20 latest tweets
blc=r8
idlast = r8[-1].id # the last id of these 20
for i in range(100):
    r9 = api.user_timeline("jeremycorbyn", max_id = idlast) #
    blc+=r9
    idlast = r9[-1].id # the last id of these 20

In [13]:
# Create a dataframe with a column called Tweets
df1 = pd.DataFrame([tweet.text for tweet in bo], columns=['Tweets'])


df1['Writer'] = 'BarackObama'

df2 = pd.DataFrame([tweet.text for tweet in bg], columns=['Tweets'])


df2['Writer'] = 'BillGates'

df3 = pd.DataFrame([tweet.text for tweet in hc], columns=['Tweets'])

df3['Writer'] = 'HillaryClinton'

df4 = pd.DataFrame([tweet.text for tweet in bj], columns=['Tweets'])

df4['Writer'] = 'BorisJohnson'

df5 = pd.DataFrame([tweet.text for tweet in blc], columns=['Tweets'])

df5['Writer'] = 'JeremyCorbyn'

df = pd.concat([df1, df2, df3, df4, df5])

In [14]:
# Create a function to clean the tweets
import re
def cleanTxt(text):
    
 text = re.sub(r'^https?:\/\/.*[\r\n]*', '', text, flags=re.MULTILINE)

 text = re.sub('https?:\/\/\S+', '', text) # Removing hyperlink
 
 text = re.sub('RT[\s]+', '', text) # Removing RT
    
 text = re.sub('@[A-Za-z0–9]+', '', text) #Removing @mentions
 text = re.sub('#', '', text) # Removing '#' hash tag
 
 text=text.lower() #converting to lowercase
 text = re.sub(':', '', text) # Removing  
 return text

In [15]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [16]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['Tweets'] = df['Tweets'].apply(lambda x: remove_punct(x))
df.head(10)

                                              Tweets       Writer
0  I’m proud to endorse this diverse and hopeful ...  BarackObama
1  Welcome home AstroBehnken and AstroDoug We lau...  BarackObama
2  This pandemic is far from over––and our medica...  BarackObama
3  John believed that in all of us there exists t...  BarackObama
4  John spent his entire life fighting for justic...  BarackObama
5  Michelle and I have spent a lot of time togeth...  BarackObama
6  Its National Vote By Mail Day Voting by mail i...  BarackObama
7  RT JoeBiden Arianna’s a supporter of our campa...  BarackObama
8  Were  days away from Election Day and there is...  BarackObama
9  To celebrate the th anniversary of the America...  BarackObama

In [17]:
df['Tweets'] = df['Tweets'].apply(cleanTxt)

In [18]:
df

                                                 Tweets        Writer
0     i’m proud to endorse this diverse and hopeful ...   BarackObama
1     welcome home astrobehnken and astrodoug we lau...   BarackObama
2     this pandemic is far from over––and our medica...   BarackObama
3     john believed that in all of us there exists t...   BarackObama
4     john spent his entire life fighting for justic...   BarackObama
...                                                 ...           ...
2009  terrible reports of multiple stabbings at the ...  JeremyCorbyn
2010  the education secretary said that school budge...  JeremyCorbyn
2011  peace is found through dialogue and bringing p...  JeremyCorbyn
2012  solidarity to striking workers in salford and ...  JeremyCorbyn
2013  places like northampton have been let down by ...  JeremyCorbyn

[10089 rows x 2 columns]

In [19]:
def remove_whitespace(text): 
    return  " ".join(text.split())

In [20]:
df['Tweets'] = df['Tweets'].apply(remove_whitespace)

In [21]:
df

                                                 Tweets        Writer
0     i’m proud to endorse this diverse and hopeful ...   BarackObama
1     welcome home astrobehnken and astrodoug we lau...   BarackObama
2     this pandemic is far from over––and our medica...   BarackObama
3     john believed that in all of us there exists t...   BarackObama
4     john spent his entire life fighting for justic...   BarackObama
...                                                 ...           ...
2009  terrible reports of multiple stabbings at the ...  JeremyCorbyn
2010  the education secretary said that school budge...  JeremyCorbyn
2011  peace is found through dialogue and bringing p...  JeremyCorbyn
2012  solidarity to striking workers in salford and ...  JeremyCorbyn
2013  places like northampton have been let down by ...  JeremyCorbyn

[10089 rows x 2 columns]

In [22]:
def remove_emojis(data):
    emoj = re.compile("["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
        u"\U00002500-\U00002BEF"  # chinese char
        u"\U00002702-\U000027B0"
        u"\U00002702-\U000027B0"
        u"\U000024C2-\U0001F251"
        u"\U0001f926-\U0001f937"
        u"\U00010000-\U0010ffff"
        u"\u2640-\u2642" 
        u"\u2600-\u2B55"
        u"\u200d"
        u"\u23cf"
        u"\u23e9"
        u"\u231a"
        u"\ufe0f"  # dingbats
        u"\u3030"
                      "]+", re.UNICODE)
    return re.sub(emoj, '', data)

In [23]:
df['Tweets'] = df['Tweets'].apply(remove_emojis)

In [24]:
df

                                                 Tweets        Writer
0     i’m proud to endorse this diverse and hopeful ...   BarackObama
1     welcome home astrobehnken and astrodoug we lau...   BarackObama
2     this pandemic is far from over––and our medica...   BarackObama
3     john believed that in all of us there exists t...   BarackObama
4     john spent his entire life fighting for justic...   BarackObama
...                                                 ...           ...
2009  terrible reports of multiple stabbings at the ...  JeremyCorbyn
2010  the education secretary said that school budge...  JeremyCorbyn
2011  peace is found through dialogue and bringing p...  JeremyCorbyn
2012  solidarity to striking workers in salford and ...  JeremyCorbyn
2013  places like northampton have been let down by ...  JeremyCorbyn

[10089 rows x 2 columns]

In [25]:
df.to_csv('Dataset/Tweets.csv')

In [26]:
df.to_pickle("Dataset/Tweets.pkl")

In [27]:
df = pd.read_pickle("Dataset/Tweets.pkl")

In [28]:
df

                                                 Tweets        Writer
0     i’m proud to endorse this diverse and hopeful ...   BarackObama
1     welcome home astrobehnken and astrodoug we lau...   BarackObama
2     this pandemic is far from over––and our medica...   BarackObama
3     john believed that in all of us there exists t...   BarackObama
4     john spent his entire life fighting for justic...   BarackObama
...                                                 ...           ...
2009  terrible reports of multiple stabbings at the ...  JeremyCorbyn
2010  the education secretary said that school budge...  JeremyCorbyn
2011  peace is found through dialogue and bringing p...  JeremyCorbyn
2012  solidarity to striking workers in salford and ...  JeremyCorbyn
2013  places like northampton have been let down by ...  JeremyCorbyn

[10089 rows x 2 columns]